* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 10px;
}

div.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 450px;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px;
}

p {
    width: 30%;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}


div.icon {
    display: inline-block;
    width: 30%;
    margin-top: 20px;
    font-size: 20px;
}


.fa-arrow-up {
    color: green;
}

.fa-arrow-down {
    color: red;
}


.fa-grip-lines {
    color: blue;
}

button {
    margin: 30px;
    padding: 10px 10px;
    font-size: 14px;
    background-color: lightgreen;
    border: 1px solid lightblue;
}

button:hover {
    background-color: green;
    border: 1px solid blue;
}